<div class="container mt-4">
  <div class="row">
    <div class="col-lg-5">
      <img src="../../../assets/images/register.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-lg-7">
      <h1 class="display-4 mb-4">Register Now :</h1>

      <form [formGroup]="registerForm" (ngSubmit)="register()" class="py-4 px-3">
        <!-- Error message -->
        @if(errorMessage){
          <div class="alert alert-danger p-2 mb-4" role="alert">{{errorMessage}}</div>
        }

        <!-- Name field -->
        <div class="form-group mb-4">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" formControlName="name" />
          @if (registerForm.get('name')?.errors && registerForm.get('name')?.touched ){
            <div class="form-text text-danger">
              @if (registerForm.get('name')?.errors['required']){
                <p class="mb-1 alert alert-danger py-1 mb-4">Required</p>
              }
              @else if (registerForm.get('name')?.errors['minlength']){
                <p class="mb-1 alert alert-danger py-1 mb-4">Minimum length is 3</p>
              }
              @else if (registerForm.get('name')?.errors['maxlength']){
                <p class="mb-1 alert alert-danger py-1 mb-4">Maximum length is 15</p>
              }
            </div>
          }
        </div>

        <!-- Email field -->
        <div class="form-group mb-4">
          <label for="email">Email address</label>
          <input type="email" id="email" name="email" class="form-control" formControlName="email" />
          @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched ){
            <div class="form-text text-danger">
              @if (registerForm.get('email')?.errors['required']){
                <p class="mb-1 alert alert-danger py-1 mb-4">Required</p>
              }
              @else if (registerForm.get('email')?.errors['email']){
                <p class="mb-1 alert alert-danger py-1 mb-4">Invalid email</p>
              }
            </div>
          }
        </div>

        <!-- Password field -->
        <div class="form-group mb-4">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" formControlName="password"/>
          @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched ){
            <div class="form-text text-danger">
              @if (registerForm.get('password')?.errors['required']){
                <p class="mb-1 alert alert-danger py-1 mb-4">Required</p>
              }
              @else if (registerForm.get('password')?.errors['pattern']){
                <p class="mb-1 alert alert-danger py-1 mb-4">At least 6 digits, 1 character, 1 number</p>
              }
            </div>
          }
        </div>

        <!-- Confirm password field -->
        <div class="form-group mb-4">
          <label for="confirm_password">Confirm password</label>
          <input type="password" id="confirm_password" name="rePassword" class="form-control" formControlName="rePassword" />
          @if (registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched ){
            <div class="form-text text-danger">
              @if (registerForm.get('rePassword')?.errors['required']){
                <p class="mb-1 alert alert-danger py-1 mb-4">Required</p>
              }
            </div>
          }
          @if (this.registerForm?.errors){
            @if ( registerForm.get('rePassword')?.touched && this.registerForm?.errors['passwordMismatch'] ){
              <p class="mb-1 alert alert-danger py-1 mb-4">passwords not matching</p>
            }
          }
        </div>

        <!-- Phone number field -->
        <div class="form-group mb-4">
          <label for="phone">Phone number</label>
          <input type="tel" id="phone" name="phone" class="form-control" formControlName="phone"/>
          @if (registerForm.get('phone')?.errors && registerForm.get('phone')?.touched ){
            <div class="form-text text-danger">
              @if (registerForm.get('phone')?.errors['required']){
                <p class="mb-1 alert alert-danger py-1 mb-4">Required</p>
              }
              @else if (registerForm.get('phone')?.errors['minlength']){
                <p class="mb-1 alert alert-danger py-1 mb-4">Invalid phone number</p>
              }
              @else if (registerForm.get('phone')?.errors['maxlength']){
                <p class="mb-1 alert alert-danger py-1 mb-4">Invalid phone number</p>
              }
            </div>
          }
        </div>

        <!-- Submit button -->
        <button type="submit" [disabled]="isLoading" class="btn btn-primary d-block ms-auto">
          @if (isLoading){
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          }
          @else{
            Submit
          }
        </button>
      </form>
    </div>
  </div>
</div>
